@layer utilities {
  h1 {
    @apply text-5xl md:text-6xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  h5 {
    @apply text-xl font-medium;
  }

  p {
    @apply text-lg font-medium;
  }
}
