@import "tailwindcss";
@import "tw-animate-css";
@import "./themes/theme.css";
@import "./themes/dark-mode-tokens.css";
@import "./themes/default-tokens.css";
@import "./utilities/brand-colors.css";
@import "./components/layout.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-5xl md:text-6xl font-bold;
  }
  
  p {
    @apply text-xl font-medium;
  }
}



@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}
